In [6]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [7]:
df = pd.read_csv('data/WA_Fn-UseC_-Telco-Customer-Churn.csv')
label_encoder = LabelEncoder()
categorical_columns = ['tenure', 'Contract', 'InternetService', 'Churn']
df2 = df[categorical_columns]
for column in categorical_columns:
    df2[column] = label_encoder.fit_transform(df2[column])

C:\Users\Victor\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [8]:
df2

      tenure  Contract  InternetService  Churn
0          1         0                0      0
1         34         1                0      0
2          2         0                0      1
3         45         1                0      0
4          2         0                1      1
...      ...       ...              ...    ...
7038      24         1                0      0
7039      72         1                1      0
7040      11         0                0      0
7041       4         0                1      1
7042      66         2                1      0

[7043 rows x 4 columns]